<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--nomina/proveedores-->
    <add key="NominaOProveedores" value="nomina" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="Endpoint" value="http://10.30.3.110:8094/api/AppConfig" />-->
    <add key="token" value="WGYW5Nxlmuc7JBMlcGGifQDApkLqc1E7KZG6NhqKwqo7TXlnBWoo0S+qLgHzdZzAKnwBVNyHgBQSJcgxeSSQIVjaxDRmuu+1SqQvsS8BDkZ8oQU5NmKmYHOSUTti0ZFLEkDtZTaPO46YQugQgbJ7iaGMNJjZqdRp6bDdKe0I8MA=" />
    <add key="BaseUrl" value="http://10.30.3.110:8094/" />
    <add key="Endpoint" value="api/AppConfig" />
    <add key="BaseUrllogger" value="http://10.30.4.92:8090/" />
    <add key="EndpointLogger" value="api/Logs" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>